:root {
  --errorBackground: #ffffff;
  --errorColor: #000000;
  --errorBorder: rgba(0, 0, 0, .3);
}

@media (prefers-color-scheme:dark) {
  :root {
    --errorBackground: #000000;
    --errorColor: #ffffff;
    --errorBorder: rgba(255, 255, 255, .3);
  }
}

html,
body {
  width: 100vw !important;
  height: 100vh !important;
  background: #ffffff !important;
  overflow: hidden !important;
  padding: 0px !important;
  margin: 0px !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}